body{
  padding: 8px;
}
.users{
  background-color: aquamarine;
  max-width: 33%;
  padding: 8px;
}
.albums{
  background-color:coral;
  max-width: 33%;
  padding: 8px;
}
.photos{
  background-color:darkcyan;
  padding: 8px;
}
ul{
  padding-left: 0px;
}
li{
  list-style-type: none;
  padding: 0;
  margin-bottom: 8px;
}